
@{
    ViewBag.Title = "Test";
    Layout = "~/Views/Shared/_Deneme.cshtml";
}

<h2>Test Sayfası</h2>
<hr />

<table>

    <thead>
        <tr>
            <th>
                Sıra

            </th>
            <th>
                Ad Soyad

            </th>
        </tr>

    </thead>

</table>

