
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_Deneme</title>
</head>
<body>
    <div class="container">
        <div>

            <h3>Burası Layout</h3>

        </div>
        <div class="container body-content">
            @RenderBody()
        </div>
        <div>
            <h6>Burası Footer @DateTime.Now</h6>
        </div>

    </div>
</body>
</html>
