@model List<Entity.Concrete.Content>
@using DataAccessLayer.Concrete
@{
    ViewBag.Title = "MyContent";
    Layout = "~/Views/Shared/_WriterLAyout.cshtml";
    Context context = new Context();

    var headings = context.Headings;
}
<!DOCTYPE html>
<html>
<body class="hold-transition sidebar-mini">
    <!-- Site wrapper -->
    <div class="wrapper">
        <br />
        <section class="content">
            <div class="container-fluid">

                <!-- Timelime example  -->
                <div class="row">
                    <div class="col-md-12">
                        <!-- The time line -->
                        <div class="timeline">
                            @foreach (var content in Model)
                            {
                                <!-- timeline time label -->
                                <div class="time-label">
                                    <span class="bg-success">@(((DateTime)content.ContentDate).ToString("dd MMM yyyy"))</span>
                                </div>
                                <!-- /.timeline-label -->
                                <!-- timeline item -->
                                <div>
                                    <i class="fas fa-comment bg-yellow"></i>
                                    <div class="timeline-item">
                                        <h3 class="timeline-header"><a href="#"> @headings.FirstOrDefault(x=>x.HeadingId == @content.HeadingId).HeadingName  @*heading.headingname getir*@ </a></h3>
                                        <div class="timeline-body">
                                            @content.ContentText
                                        </div>
                                    </div>
                                </div>
                                <!-- END timeline item -->
                            }
                        </div>
                    </div>
                    <!-- /.col -->
                </div>
            </div>
            <!-- /.timeline -->
        </section>
        <!-- /.content -->
    </div>
    <!-- ./wrapper -->
</body>
</html>