
@{
    ViewBag.Title = "ToDoList";
    Layout = "~/Views/Shared/_WriterLAyout.cshtml";
}

<p>#Profilim</p>
<p><del>#Tüm Başlıklarda paging</del></p>
<p><del>#mesajlarda session</del></p>
<p><del>#Login işleminin mimariye taşınması</del></p>

